.main {
  width: 80%;
  margin: 0 auto;
}

#submit-btn {
  visibility: hidden;
}

.highest-lowest-episodes {
  color: rgba(0,0,0,0.4);
  font-size: 10pt;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
  margin: 20px auto;
}

.highest-lowest-episodes > div {
  width: 45%;
}

.series-attributes {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.series-attributes--title {
  max-width: calc(100% - 200px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.series-photo {
  height: 300px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid #fff;
  margin: 20px auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.suggestions-buttons {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.suggestions-buttons > button {
  border: 2px solid #fff;
  border-radius: 15px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  padding: 12px;
  display: inline-block;
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  background: #008000;
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  width: 130px;
}

.suggestions-buttons > button:hover {
  background: #006400;
}

input {
  display: block;
  margin: 0.3em;
  padding: 0.5em 1em 0.5em 0.7em;
  width: calc(100% - 2em);
  border: 1px solid #fff;
  background: transparent;
  color: rgba(0,0,0,0.4);
  font-size: 20pt;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  border-radius: 10px;
  font-family: inherit;
}

input::placeholder {
  color: rgba(0,0,0,0.4);
}

table {
  width: 50%;
  margin: 0 auto;
}

td {
  font-size: 12pt;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: rgba(0,0,0,0.05);
}

.series-title {
  width: 100%;
  text-align: center;
  font-size: 20pt;
}

.series-title > span {
  font-size: 12pt;
}

.series-plot {
  width: 75%;
  text-align: justify;
  margin: 0 auto;
  font-size: 10pt;
  font-family: inherit;
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
  input {
    font-size: 12pt;
  }
  input::placeholder {
    opacity: 0;
  }
  #submit-btn {
    visibility: visible;
    color: rgba(0,0,0,0.4);
    font-size: 8pt;
    text-align: center;
  }
  .suggestions-buttons {
    width: 100%;
  }
  .suggestions-buttons > button {
    font-size: 7px;
    padding: 8px;
    width: 80px;
  }
  .search-input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .series-attributes {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-family: inherit;
  }
  .series-attributes--title {
    max-width: 100%;
    display: block;
  }
  .series-photo {
    height: 150px;
    width: 100px;
    margin-bottom: 0;
  }
  .series-title {
    width: 100%;
    text-align: center;
    font-size: 24pt;
  }
  .series-title > span {
    font-size: 12pt;
  }
  .series-plot {
    width: 100%;
    text-align: justify;
    margin: 0 auto;
    font-size: 10pt;
    font-family: inherit;
  }
  .highest-lowest-episodes {
    font-size: 8pt;
    width: 100%;
  }
  .highest-lowest-episodes > div {
    width: 48%;
    text-align: center;
  }
  table {
    width: 100%;
    font-size: 9pt;
  }
  td {
    font-size: 9pt;
    padding: 10px;
  }
}
