<div class="main">
  <div *ngIf="!series || !series.title" class="search-container">
    <div class="search-input-container">
      <input #box class="input-box" placeholder="Hit enter when you're done typing" (keyup.enter)="searchForEpisodes(box.value)">
      <div id="submit-btn" (click)="searchForEpisodes()">Search</div>
    </div>

    <div class="suggestions-buttons-container">
      <button (click)="searchForEpisodes('the sopranos')">The Sopranos</button>
      <button (click)="searchForEpisodes('gilmore girls')">Gilmore Girls</button>
      <button (click)="searchForEpisodes('the office')">The Office</button>
      <button (click)="searchForEpisodes('parks and recreation')">Parks and Recreation</button>
      <button (click)="searchForEpisodes('mad men')">Mad Men</button>
      <button (click)="searchForEpisodes('breaking bad')">Breaking Bad</button>
    </div>
  </div>

  <div *ngIf="series && series.title" class="series-attributes">
    <div class="series-attributes-clear-btn" (click)="clearSeries()"><span>Back</span></div>
    <div class="series-photo" [ngStyle]="{'background-image': 'url(' + series.poster + ')'}"></div>
    <div class="series-attributes--title">
      <h3 class="series-title">{{series.title}} <span>({{series.rating}})</span></h3>
      <div class="series-plot">{{series.plot}}</div>
      <div class="highest-lowest-episodes">
        <div>Highest rated episode: {{this.episodes[0].name}} ({{this.episodes[0].rating}})</div>
        <div>Lowest rated episode: {{this.episodes[this.episodes.length-1].name}} ({{this.episodes[this.episodes.length-1].rating}})</div>
      </div>
      <div class="statistics">
        <div>Average rating: {{this.average}}</div>
        <div>Range: {{this.range}}</div>
        <div>Median: {{this.median}}</div>
      </div>
    </div>
  </div>

  <div *ngIf="series && series.title">
    <table>
      <tr>
        <th>Episode Title</th>
        <th>Number</th>
        <th>Rating</th>
      </tr>
      <tr *ngFor="let ep of episodes">
        <td>{{ep.name}}</td>
        <td>{{ep.season}}.{{ep.episode}}</td>
        <td>{{ep.rating}}</td>
      </tr>
    </table>
  </div>
</div>
